<form [formGroup]="currentNumForm" (ngSubmit)="onSubmit()">
  <p>Current number : {{num}}</p>
</form>

<form [formGroup]="currentNumForm" (ngSubmit)="reset()">
  <button class="button" type="submit">Reset</button>
</form>


<form [formGroup]="postForm" (ngSubmit)="postSubmit()">

  <div>
    <label for="newnum">
      Ajouter un nombre
    </label>
    <input id="newnum" type="text" formControlName="newnum">
  </div>

  <p>Résultat <a id="val"> {{res}}</a> </p>
  <button class="button" id="resultat" type="submit">Purchase</button>

</form>
